<nav class="navbar navbar-expand-lg navbar-dark sticky-lg-top">
  <div class="container-fluid">
    <a class="navbar-brand" id="brand" [routerLink]="['/']">PNGCinemas</a>
    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link navbtn" [routerLink]="['/movies']" routerLinkActive="active"> FILM </a>
        </li>
        <li class="nav-item" *ngIf="selectedCinema">
          <a class="nav-link navbtn" [routerLink]="['/',selectedCinema.name,'screenings']" routerLinkActive="active"> PROIEZIONI </a>
        </li>
        <li class="nav-item">
        <a class="nav-link navbtn" [routerLink]="['/tickets']" routerLinkActive="active"> BIGLIETTI </a>
        </li>
        <li class="nav-item" *ngIf="selectedCinema && false">
          <a class="nav-link navbtn" [routerLink]="['/',selectedCinema.name,'theaters']" routerLinkActive="active"> SALE </a>
        </li>
        <li class="nav-item dropdown" appDropdown *ngIf="!selectedCinema">
          <a class="nav-link dropdown-toggle">
            CINEMA
          </a>
          <div class="dropdown-menu">
            <button class="dropdown-item" (click)="onSetCinema(cinema)" *ngFor="let cinema of cinemas">
              {{ cinema.name }}
            </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end " [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav float-lg-end">
        <li class="nav-item">
          <a class="nav-link navbtn" [routerLink]="['/auth']" routerLinkActive="active"> ACCEDI </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

