<form [formGroup]="searchForm"
      (ngSubmit)="onSearch()"
      (change)="onSearch()">
  <input
    id="searchbar"
    type="search"
    placeholder="Cerca un film"
    formControlName="movie"
    (keyup)="onSearch()"
  >
  <select
    id="genre"
    formControlName="filter"
    *ngIf="searchmode==='movies'"
  >
    <option value="" selected> Qualsiasi genere</option>
    <option value="Action">Action</option>
    <option value="Sci-fi">Sci-fi</option>
    <option value="Commedia">Commedia</option>
    <option value="Horror">Horror</option>
  </select>
  <select
    id="theatre"
    formControlName="filter"
    *ngIf="searchmode==='screenings'"
  >
    <option value="" selected>
      Tutte le sale
    </option>
    <option [value]="theatre.name" *ngFor="let theatre of theatres">
      Sala {{ theatre.name }}
    </option>
  </select>
  <input
    id="date"
    type="date"
    formControlName="date"
  >
</form>
