<div class="card mb-3 screening-card">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="https://c8.alamy.com/compit/bkpf76/spider-man-3-2007-spiderman-3-alt-poster-spm3-001-40-bkpf76.jpg"
           class="card-img" alt="..."
           style="height: 100%;"
      >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">SALA: ATMOS</h5>
        <p class="card-text">

        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div>

