<div class="card mb-3 screening-card">
  <div class="imgcol" style="background-image: url(https://c8.alamy.com/compit/bkpf76/spider-man-3-2007-spiderman-3-alt-poster-spm3-001-40-bkpf76.jpg);
    background-size: cover"
  >
  </div>
  <div class="infocol">
    <div class="card-body">
      <h5 class="card-title">SALA ATMOS</h5>
      <p class="card-text">
        Spiderman 3
      </p>
    </div>
  </div>
  <div class="pricecol">
    <div class="card-body">
      <h5 class="card-title">19:30 - 22:42</h5>
      <button class="btn btn-primary">
        ACQUISTA BIGLIETTO
      </button>
    </div>
  </div>
</div>

