.card {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;

  border:none;
  font-family: Bahnschrift;
}
.card-header {
  padding-top: 15px;
  height: 50px;
  text-align: center;
  background-color: rgba(1,1,92,1);
  color: white;
}
.card-footer {
  background-color: #fff579;
  padding: 15px 5% 60px 5%;
}
.card-body {
  overflow: hidden;
  background-color: rgba(5,75,153,1);
  border-radius: 0;
  box-shadow: 0 0 20px rgb(0,0,0,0.5);
  padding-bottom: 20px;
}
#seatsgrid {
  height:40vh;
  margin: 0 20% 0 20%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.seat {
  background-color: midnightblue;
  margin: 5%;
  width: 90%;
  height: 90%;
  font-size: 85%;
  text-align: center;
  color: #fff579;
  border-radius: 3px;
  box-shadow: 1px 2px 1px rgb(0,0,0,0.5);
}
.seat:hover {
  background-color:  #fff579;
  color: black;
}
@media screen and (max-width: 750px) {
  #seatsgrid {
    margin: 0 0 0 0;
  }
}
.occupied {
  background-color: darkgray;
  color: black;
}
.occupied:hover {
  background-color: darkgray;
  color: black;
}
.selected {
  background-color: green;
  color: white;
}
.selected:hover {
  background-color: green;
  color: white;
}
.ticket-prompt {
  animation: slide 0.15s linear forwards;
  background-color: dimgray;
  padding: 15px 5% 60px 5%;
  position: absolute;
  color: white;
  top:50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  opacity: 0.9;
}
p {
  width: 100%;
  margin:0;
}
span {
  float: right;
}
#confirm {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
#cancel {
  position: absolute;
  right: 15px;
  transform: translateX(-100%);
  bottom: 15px;
  margin-right: 20px;
}
@keyframes slide {
  from {
    transform-origin: top;
    transform: scaleY(0);
  }
  to {
    transform-origin: top;
    transform: scaleY(100%);
  }
}

