.pagecontrol {
  padding-top: 30px;
  text-align: center;
  position: relative;
}
#prev {
  position: absolute;
  left: 0;
}
#next {
  position: absolute;
  right: 0;
}
#date {
  position: relative;
  bottom: 5px;
  font-family: Bahnschrift;
  font-size: 180%;
  color: #fff579;
}
#prev:hover,#next:hover {
  transform: scale(125%);
}
.screenings {
  animation: slideRight 0.2s linear forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
