<div class="backdrop" (click)="onCloseDetail()"></div>
<div class="detail-box">
  <div class="row">
    <div class="col-lg-4 imgsection" style="background-image: url(https://c8.alamy.com/compit/bkpf76/spider-man-3-2007-spiderman-3-alt-poster-spm3-001-40-bkpf76.jpg);">
    </div>
    <div class="col-lg-8 rightsection">
      <div class="row">
        <div class="col-lg-5">
          <h4> Spiderman 3 </h4>
        </div>
        <div class="col-lg">
          <h6 class="float-lg-end">Regista: Sam Raimi 2025</h6>
        </div>
      </div>
      <p class="desc">
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
          Le avventure dello mitico ommo oragno parte 3.
      </p>
      <div class="row">
        <div class="col-lg">
          <h6> Durata: 192 minuti </h6>
          <h6>Generi: Action, Supereroi</h6>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary"> ACQUISTA BIGLIETTO</button>
</div>
