<div class="backdrop" (click)="onCloseDetail()"></div>
<div class="detail-box" *ngIf="selectedMovie">
  <div class="row">
    <div class="col-lg-4 imgsection" style="background-image: url(https://c8.alamy.com/compit/bkpf76/spider-man-3-2007-spiderman-3-alt-poster-spm3-001-40-bkpf76.jpg);">
    </div>
    <div class="col-lg-8 rightsection">
      <div class="row">
        <div class="col-lg-5">
          <h4>{{ selectedMovie.title }}</h4>
        </div>
        <div class="col-lg">
          <h6 class="float-lg-end">Regista: {{ selectedMovie.director }}, {{ selectedMovie.releaseDate.slice(0,4) }}</h6>
        </div>
      </div>
      <p class="desc">
          {{ selectedMovie?.description }}
      </p>
      <div class="row">
        <div class="col-lg">
          <h6> Durata: {{ selectedMovie.length }} minuti </h6>
          <h6>Generi: {{ selectedMovie.genre }}</h6>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary"
          (click)="onFurtherInfo()"
          [disabled]="!selectedCinema || !loggedIn"
  >
    {{ !selectedCinema ? 'SELEZIONA UN CINEMA' : !loggedIn ? 'ACCEDI PER ACQUISTARE' :' ACQUISTA IL BIGLIETTO'}}
  </button>
</div>
